#btn{
    background-color: rgb(15, 235, 235);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    
}
#content{
    background-color: rgb(118, 143, 143);
}

#btn:hover{
    background-color: greenyellow;
}

#inputData{
    padding: 3px;
    border-radius: 8px;
    border: 1px solid green;
}
#inputData:hover{
    background-color: pink;
}

#hum{
    color:  rgb(155, 33, 39);
}
#speed{
    color: rgb(186, 244, 252);
}
#city{
    color: floralwhite;
}